In [1]:
import pandas as pd
import numpy as np
import sklearn.metrics

importer les donnees du titanic et afficher les 5 premieres lignes

In [2]:
train = pd.read_csv('/home/aaron/3A-Prog/TP - PDS - New/TP - PDS/13-Logistic-Regression/titanic_train.csv')
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

faire l'inventaire des colonnes du dataframe en precisant les colonnes quantitatives et les qualitatives

5 colonnes qualitatives
6 quantitatives

identifier les valeurs manquantes et imputer les par le mode pour les variables qualitatives et la mediane pour les varialbes quantitatives

In [3]:
train.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [4]:
train['Age'] = train['Age'].fillna(value=train['Age'].median())

In [5]:
train.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            891
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [6]:
train['Cabin'] = train['Cabin'].fillna(value=train['Cabin'].mode()[0])

In [7]:
train['Cabin'].mode()

0    B96 B98
dtype: object

In [8]:
train.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            891
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          891
Embarked       889
dtype: int64

considerer les variables ['SibSp', 'Parch', 'Fare'] et mettre en place un modèle de regression logistique

In [9]:
#Convertir les int en object / Façon prof avec un tableau
def convert_int_to_object(df, cols_name):

    for cols in cols_name:
        df[cols] = df[cols].astype("object")
    return df
        
cols_name=['Survived','Pclass']
train = convert_int_to_object(train, cols_name)

In [10]:
dead = train[train['Survived']==0]
survived = train[train['Survived']==1]

creer la target qui est represente par la colonne survived
combien de personnes ont survecu?
combien de femmes ont embarqué et combien ont survecu?
survived = train[train.Survived == 1]
dead = train[train.Survived == 0]

In [11]:

def getTitle(str):
    return str.split(',')[1].split('.')[0].strip()

train['Title'] = train['Name'].apply(lambda x : getTitle(x))
train['Surname'] = train['Name'].apply(lambda x : '(' in x)

In [12]:
def input_missing_values(df):
    for col in df.columns:
        if (df[col].dtype is float) or (df[col].dtype is int):
            df[col] = df[col].fillna(df[col].median())
        if (df[col].dtype == object):
            df[col] = df[col].fillna(df[col].mode()[0])

    return df
a = input_missing_values(train)

### quick modelisation: logistics Regression

In [13]:
def parse_model(X, use_columns):
    if "Survived" not in X.columns:
        raise ValueError("target column survived should belong to df")
    target = X["Survived"]
    X = X[use_columns]
    return X, target

model_cols1 =['SibSp', 'Fare','Parch', 'Pclass']
X, y = parse_model(X=train.copy(), use_columns=model_cols1)

In [14]:
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.linear_model import LogisticRegression

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=42)

Reg_Log = LogisticRegression(random_state=42)
Reg_Log.fit(X_train, y_train)
ypred = Reg_Log.predict(X_test)
print('Score : ',(ypred==y_test).sum()/ypred.size)

Score :  0.7052238805970149

/home/aaron/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [16]:
X_dummies = pd.get_dummies(X['Pclass'], prefix="Pclass", drop_first=False,dummy_na=False)
x = X.join(X_dummies).drop("Pclass", axis=1)
x

     SibSp      Fare  Parch  Pclass_1  Pclass_2  Pclass_3
0        1    7.2500      0         0         0         1
1        1   71.2833      0         1         0         0
2        0    7.9250      0         0         0         1
3        1   53.1000      0         1         0         0
4        0    8.0500      0         0         0         1
5        0    8.4583      0         0         0         1
6        0   51.8625      0         1         0         0
7        3   21.0750      1         0         0         1
8        0   11.1333      2         0         0         1
9        1   30.0708      0         0         1         0
10       1   16.7000      1         0         0         1
11       0   26.5500      0         1         0         0
12       0    8.0500      0         0         0         1
13       1   31.2750      5         0         0         1
14       0    7.8542      0         0         0         1
15       0   16.0000      0         0         1         0
16       4   29.1250      1         0         0         1
17       0   13.0000      0         0         1         0
18       1   18.0000      0         0         0         1
19       0    7.2250      0         0         0         1
20       0   26.0000      0         0         1         0
21       0   13.0000      0         0         1         0
22       0    8.0292      0         0         0         1
23       0   35.5000      0         1         0         0
24       3   21.0750      1         0         0         1
25       1   31.3875      5         0         0         1
26       0    7.2250      0         0         0         1
27       3  263.0000      2         1         0         0
28       0    7.8792      0         0         0         1
29       0    7.8958      0         0         0         1
..     ...       ...    ...       ...       ...       ...
861      1   11.5000      0         0         1         0
862      0   25.9292      0         1         0         0
863      8   69.5500      2         0         0         1
864      0   13.0000      0         0         1         0
865      0   13.0000      0         0         1         0
866      1   13.8583      0         0         1         0
867      0   50.4958      0         1         0         0
868      0    9.5000      0         0         0         1
869      1   11.1333      1         0         0         1
870      0    7.8958      0         0         0         1
871      1   52.5542      1         1         0         0
872      0    5.0000      0         1         0         0
873      0    9.0000      0         0         0         1
874      1   24.0000      0         0         1         0
875      0    7.2250      0         0         0         1
876      0    9.8458      0         0         0         1
877      0    7.8958      0         0         0         1
878      0    7.8958      0         0         0         1
879      0   83.1583      1         1         0         0
880      0   26.0000      1         0         1         0
881      0    7.8958      0         0         0         1
882      0   10.5167      0         0         0         1
883      0   10.5000      0         0         1         0
884      0    7.0500      0         0         0         1
885      0   29.1250      5         0         0         1
886      0   13.0000      0         0         1         0
887      0   30.0000      0         1         0         0
888      1   23.4500      2         0         0         1
889      0   30.0000      0         1         0         0
890      0    7.7500      0         0         0         1

[891 rows x 6 columns]

In [17]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3,random_state=42)

Reg_Log = LogisticRegression(random_state=42)
Reg_Log.fit(X_train, y_train)
ypred = Reg_Log.predict(X_test)
print('Score : ',(ypred==y_test).sum()/ypred.size)

Score :  0.7425373134328358

/home/aaron/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [18]:
x = x.join(train['Age'])
x

     SibSp      Fare  Parch  Pclass_1  Pclass_2  Pclass_3   Age
0        1    7.2500      0         0         0         1  22.0
1        1   71.2833      0         1         0         0  38.0
2        0    7.9250      0         0         0         1  26.0
3        1   53.1000      0         1         0         0  35.0
4        0    8.0500      0         0         0         1  35.0
5        0    8.4583      0         0         0         1  28.0
6        0   51.8625      0         1         0         0  54.0
7        3   21.0750      1         0         0         1   2.0
8        0   11.1333      2         0         0         1  27.0
9        1   30.0708      0         0         1         0  14.0
10       1   16.7000      1         0         0         1   4.0
11       0   26.5500      0         1         0         0  58.0
12       0    8.0500      0         0         0         1  20.0
13       1   31.2750      5         0         0         1  39.0
14       0    7.8542      0         0         0         1  14.0
15       0   16.0000      0         0         1         0  55.0
16       4   29.1250      1         0         0         1   2.0
17       0   13.0000      0         0         1         0  28.0
18       1   18.0000      0         0         0         1  31.0
19       0    7.2250      0         0         0         1  28.0
20       0   26.0000      0         0         1         0  35.0
21       0   13.0000      0         0         1         0  34.0
22       0    8.0292      0         0         0         1  15.0
23       0   35.5000      0         1         0         0  28.0
24       3   21.0750      1         0         0         1   8.0
25       1   31.3875      5         0         0         1  38.0
26       0    7.2250      0         0         0         1  28.0
27       3  263.0000      2         1         0         0  19.0
28       0    7.8792      0         0         0         1  28.0
29       0    7.8958      0         0         0         1  28.0
..     ...       ...    ...       ...       ...       ...   ...
861      1   11.5000      0         0         1         0  21.0
862      0   25.9292      0         1         0         0  48.0
863      8   69.5500      2         0         0         1  28.0
864      0   13.0000      0         0         1         0  24.0
865      0   13.0000      0         0         1         0  42.0
866      1   13.8583      0         0         1         0  27.0
867      0   50.4958      0         1         0         0  31.0
868      0    9.5000      0         0         0         1  28.0
869      1   11.1333      1         0         0         1   4.0
870      0    7.8958      0         0         0         1  26.0
871      1   52.5542      1         1         0         0  47.0
872      0    5.0000      0         1         0         0  33.0
873      0    9.0000      0         0         0         1  47.0
874      1   24.0000      0         0         1         0  28.0
875      0    7.2250      0         0         0         1  15.0
876      0    9.8458      0         0         0         1  20.0
877      0    7.8958      0         0         0         1  19.0
878      0    7.8958      0         0         0         1  28.0
879      0   83.1583      1         1         0         0  56.0
880      0   26.0000      1         0         1         0  25.0
881      0    7.8958      0         0         0         1  33.0
882      0   10.5167      0         0         0         1  22.0
883      0   10.5000      0         0         1         0  28.0
884      0    7.0500      0         0         0         1  25.0
885      0   29.1250      5         0         0         1  39.0
886      0   13.0000      0         0         1         0  27.0
887      0   30.0000      0         1         0         0  19.0
888      1   23.4500      2         0         0         1  28.0
889      0   30.0000      0         1         0         0  26.0
890      0    7.7500      0         0         0         1  32.0

[891 rows x 7 columns]

##### Note: For integer/None inputs, if the estimator is a classifier and y is either binary or multiclass, StratifiedKFold is used. In all other cases, KFold is used.

In [19]:
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.linear_model import LogisticRegression

In [20]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3,random_state=42)

Reg_Log = LogisticRegression(random_state=42)
Reg_Log.fit(X_train, y_train)
ypred = Reg_Log.predict(X_test)
print('Score : ',(ypred==y_test).sum()/ypred.size)

Score :  0.7164179104477612

/home/aaron/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [21]:
x.drop("Age", axis=1)

     SibSp      Fare  Parch  Pclass_1  Pclass_2  Pclass_3
0        1    7.2500      0         0         0         1
1        1   71.2833      0         1         0         0
2        0    7.9250      0         0         0         1
3        1   53.1000      0         1         0         0
4        0    8.0500      0         0         0         1
5        0    8.4583      0         0         0         1
6        0   51.8625      0         1         0         0
7        3   21.0750      1         0         0         1
8        0   11.1333      2         0         0         1
9        1   30.0708      0         0         1         0
10       1   16.7000      1         0         0         1
11       0   26.5500      0         1         0         0
12       0    8.0500      0         0         0         1
13       1   31.2750      5         0         0         1
14       0    7.8542      0         0         0         1
15       0   16.0000      0         0         1         0
16       4   29.1250      1         0         0         1
17       0   13.0000      0         0         1         0
18       1   18.0000      0         0         0         1
19       0    7.2250      0         0         0         1
20       0   26.0000      0         0         1         0
21       0   13.0000      0         0         1         0
22       0    8.0292      0         0         0         1
23       0   35.5000      0         1         0         0
24       3   21.0750      1         0         0         1
25       1   31.3875      5         0         0         1
26       0    7.2250      0         0         0         1
27       3  263.0000      2         1         0         0
28       0    7.8792      0         0         0         1
29       0    7.8958      0         0         0         1
..     ...       ...    ...       ...       ...       ...
861      1   11.5000      0         0         1         0
862      0   25.9292      0         1         0         0
863      8   69.5500      2         0         0         1
864      0   13.0000      0         0         1         0
865      0   13.0000      0         0         1         0
866      1   13.8583      0         0         1         0
867      0   50.4958      0         1         0         0
868      0    9.5000      0         0         0         1
869      1   11.1333      1         0         0         1
870      0    7.8958      0         0         0         1
871      1   52.5542      1         1         0         0
872      0    5.0000      0         1         0         0
873      0    9.0000      0         0         0         1
874      1   24.0000      0         0         1         0
875      0    7.2250      0         0         0         1
876      0    9.8458      0         0         0         1
877      0    7.8958      0         0         0         1
878      0    7.8958      0         0         0         1
879      0   83.1583      1         1         0         0
880      0   26.0000      1         0         1         0
881      0    7.8958      0         0         0         1
882      0   10.5167      0         0         0         1
883      0   10.5000      0         0         1         0
884      0    7.0500      0         0         0         1
885      0   29.1250      5         0         0         1
886      0   13.0000      0         0         1         0
887      0   30.0000      0         1         0         0
888      1   23.4500      2         0         0         1
889      0   30.0000      0         1         0         0
890      0    7.7500      0         0         0         1

[891 rows x 6 columns]

In [22]:
X = x.copy()
X = X.drop("Age", axis=1)

Essaie avec la classe Agebin, séparant les personnes en classe d'âge

In [23]:
train["Agebin"] = pd.cut(train["Age"],bins=[0,8,60,85], labels=[1,2,3]) #classes d'age
X = X.join(train["Agebin"])

In [24]:
W = X.copy()
W = W.join(train["Sex"])

In [25]:
W_dummies = pd.get_dummies(W['Sex'], prefix="Sex", drop_first=False,dummy_na=False)
W = W.join(W_dummies).drop("Sex", axis=1)
W

,SibSp,Fare,Parch,Pclass_1,Pclass_2,Pclass_3,Agebin,Sex_female,Sex_male
0,1,7.2500,0,0,0,1,2,0,1
1,1,71.2833,0,1,0,0,2,1,0
2,0,7.9250,0,0,0,1,2,1,0
3,1,53.1000,0,1,0,0,2,1,0
4,0,8.0500,0,0,0,1,2,0,1
5,0,8.4583,0,0,0,1,2,0,1
6,0,51.8625,0,1,0,0,2,0,1
7,3,21.0750,1,0,0,1,1,0,1
8,0,11.1333,2,0,0,1,2,1,0
9,1,30.0708,0,0,1,0,2,1,0
10,1,16.7000,1,0,0,1,1,1,0
11,0,26.5500,0,1,0,0,2,1,0
12,0,8.0500,0,0,0,1,2,0,1
13,1,31.2750,5,0,0,1,2,0,1
14,0,7.8542,0,0,0,1,2,1,0
15,0,16.0000,0,0,1,0,2,1,0
16,4,29.1250,1,0,0,1,1,0,1
17,0,13.0000,0,0,1,0,2,0,1
18,1,18.0000,0,0,0,1,2,1,0
19,0,7.2250,0,0,0,1,2,1,0
20,0,26.0000,0,0,1,0,2,0,1
21,0,13.0000,0,0,1,0,2,0,1
22,0,8.0292,0,0,0,1,2,1,0
23,0,35.5000,0,1,0,0,2,0,1
24,3,21.0750,1,0,0,1,1,1,0
25,1,31.3875,5,0,0,1,2,1,0
26,0,7.2250,0,0,0,1,2,0,1
27,3,263.0000,2,1,0,0,2,0,1
28,0,7.8792,0,0,0,1,2,1,0
29,0,7.8958,0,0,0,1,2,0,1
...,...,...,...,...,...,...,...,...,...
861,1,11.5000,0,0,1,0,2,0,1
862,0,25.9292,0,1,0,0,2,1,0
863,8,69.5500,2,0,0,1,2,1,0
864,0,13.0000,0,0,1,0,2,0,1
865,0,13.0000,0,0,1,0,2,1,0
866,1,13.8583,0,0,1,0,2,1,0
867,0,50.4958,0,1,0,0,2,0,1
868,0,9.5000,0,0,0,1,2,0,1
869,1,11.1333,1,0,0,1,1,0,1
870,0,7.8958,0,0,0,1,2,0,1
871,1,52.5542,1,1,0,0,2,1,0
872,0,5.0000,0,1,0,0,2,0,1
873,0,9.0000,0,0,0,1,2,0,1
874,1,24.0000,0,0,1,0,2,1,0
875,0,7.2250,0,0,0,1,2,1,0
876,0,9.8458,0,0,0,1,2,0,1
877,0,7.8958,0,0,0,1,2,0,1
878,0,7.8958,0,0,0,1,2,0,1
879,0,83.1583,1,1,0,0,2,1,0
880,0,26.0000,1,0,1,0,2,1,0
881,0,7.8958,0,0,0,1,2,0,1
882,0,10.5167,0,0,0,1,2,1,0
883,0,10.5000,0,0,1,0,2,0,1
884,0,7.0500,0,0,0,1,2,0,1
885,0,29.1250,5,0,0,1,2,1,0
886,0,13.0000,0,0,1,0,2,0,1
887,0,30.0000,0,1,0,0,2,1,0
888,1,23.4500,2,0,0,1,2,1,0
889,0,30.0000,0,1,0,0,2,0,1
890,0,7.7500,0,0,0,1,2,0,1

In [26]:
X_train, X_test, y_train, y_test = train_test_split(W, y, test_size=0.3,random_state=42)

Reg_Log = LogisticRegression(random_state=42)
Reg_Log.fit(X_train, y_train)
ypred = Reg_Log.predict(X_test)
print('Score : ',(ypred==y_test).sum()/ypred.size)

Score :  0.8022388059701493

/home/aaron/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

Avec Agebin et Sex, on atteint un score de 81%, essayons avec un colonne "is_child", en mettant un pallier à 8 ans.

In [27]:
train.loc[(train.Sex == "male", "Sex")]=1
train.loc[(train.Sex == "female", "Sex")]=0 

W = X.copy()
W

     SibSp      Fare  Parch  Pclass_1  Pclass_2  Pclass_3 Agebin
0        1    7.2500      0         0         0         1      2
1        1   71.2833      0         1         0         0      2
2        0    7.9250      0         0         0         1      2
3        1   53.1000      0         1         0         0      2
4        0    8.0500      0         0         0         1      2
5        0    8.4583      0         0         0         1      2
6        0   51.8625      0         1         0         0      2
7        3   21.0750      1         0         0         1      1
8        0   11.1333      2         0         0         1      2
9        1   30.0708      0         0         1         0      2
10       1   16.7000      1         0         0         1      1
11       0   26.5500      0         1         0         0      2
12       0    8.0500      0         0         0         1      2
13       1   31.2750      5         0         0         1      2
14       0    7.8542      0         0         0         1      2
15       0   16.0000      0         0         1         0      2
16       4   29.1250      1         0         0         1      1
17       0   13.0000      0         0         1         0      2
18       1   18.0000      0         0         0         1      2
19       0    7.2250      0         0         0         1      2
20       0   26.0000      0         0         1         0      2
21       0   13.0000      0         0         1         0      2
22       0    8.0292      0         0         0         1      2
23       0   35.5000      0         1         0         0      2
24       3   21.0750      1         0         0         1      1
25       1   31.3875      5         0         0         1      2
26       0    7.2250      0         0         0         1      2
27       3  263.0000      2         1         0         0      2
28       0    7.8792      0         0         0         1      2
29       0    7.8958      0         0         0         1      2
..     ...       ...    ...       ...       ...       ...    ...
861      1   11.5000      0         0         1         0      2
862      0   25.9292      0         1         0         0      2
863      8   69.5500      2         0         0         1      2
864      0   13.0000      0         0         1         0      2
865      0   13.0000      0         0         1         0      2
866      1   13.8583      0         0         1         0      2
867      0   50.4958      0         1         0         0      2
868      0    9.5000      0         0         0         1      2
869      1   11.1333      1         0         0         1      1
870      0    7.8958      0         0         0         1      2
871      1   52.5542      1         1         0         0      2
872      0    5.0000      0         1         0         0      2
873      0    9.0000      0         0         0         1      2
874      1   24.0000      0         0         1         0      2
875      0    7.2250      0         0         0         1      2
876      0    9.8458      0         0         0         1      2
877      0    7.8958      0         0         0         1      2
878      0    7.8958      0         0         0         1      2
879      0   83.1583      1         1         0         0      2
880      0   26.0000      1         0         1         0      2
881      0    7.8958      0         0         0         1      2
882      0   10.5167      0         0         0         1      2
883      0   10.5000      0         0         1         0      2
884      0    7.0500      0         0         0         1      2
885      0   29.1250      5         0         0         1      2
886      0   13.0000      0         0         1         0      2
887      0   30.0000      0         1         0         0      2
888      1   23.4500      2         0         0         1      2
889      0   30.0000      0         1         0         0      2
890      0    7.7500      0         0         0         1      2

[891 rows x 7 columns]

In [28]:
def is_child(float):
    if float <= 8:
        return 1
    else:
        return 0

train['Is_Child'] = train['Age'].apply(lambda x : is_child(x))

In [30]:
W = W.join(train["Is_Child"])

In [31]:
X_train, X_test, y_train, y_test = train_test_split(W, y, test_size=0.3,random_state=42)

Reg_Log = LogisticRegression(random_state=42)
Reg_Log.fit(X_train, y_train)
ypred = Reg_Log.predict(X_test)
print('Score : ',(ypred==y_test).sum()/ypred.size)

Score :  0.7126865671641791

/home/aaron/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

Le score est globalement le même avec les deux techniques: 81%.

In [32]:
X = W.copy()

In [ ]:
train.groupby(["Title"]).mean()

In [42]:
#Merge des titres qui sont juste des traductions
def merge_title(str):
    if str == "Miss" or str == "Mlle" or str == "Ms":
        return "Miss"
    elif str == "Mrs" or str == "Mme":
        return "Mrs"
    elif str == "Master":
        return "Master"
    else:
        return "Rare"

#Calcul du taux de survit par titre
train['Title'] = train['Title'].apply(lambda x : merge_title(x))
train[['Title', 'Survived']].groupby(['Title'], as_index=False).mean()

  Title  Survived
0  Miss  0.702703
1   Mrs  0.793651
2  Rare  0.193103

In [43]:
#Mapping des titres
title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}
train['Title'] = train['Title'].map(title_mapping)
train['Title'] = train['Title'].fillna(0)
X = X.join(train["Title"])
X

,SibSp,Fare,Parch,Pclass_1,Pclass_2,Pclass_3,Agebin,Is_Child,Title
0,1,7.2500,0,0,0,1,2,0,5
1,1,71.2833,0,1,0,0,2,0,3
2,0,7.9250,0,0,0,1,2,0,2
3,1,53.1000,0,1,0,0,2,0,3
4,0,8.0500,0,0,0,1,2,0,5
5,0,8.4583,0,0,0,1,2,0,5
6,0,51.8625,0,1,0,0,2,0,5
7,3,21.0750,1,0,0,1,1,1,5
8,0,11.1333,2,0,0,1,2,0,3
9,1,30.0708,0,0,1,0,2,0,3
10,1,16.7000,1,0,0,1,1,1,2
11,0,26.5500,0,1,0,0,2,0,2
12,0,8.0500,0,0,0,1,2,0,5
13,1,31.2750,5,0,0,1,2,0,5
14,0,7.8542,0,0,0,1,2,0,2
15,0,16.0000,0,0,1,0,2,0,3
16,4,29.1250,1,0,0,1,1,1,5
17,0,13.0000,0,0,1,0,2,0,5
18,1,18.0000,0,0,0,1,2,0,3
19,0,7.2250,0,0,0,1,2,0,3
20,0,26.0000,0,0,1,0,2,0,5
21,0,13.0000,0,0,1,0,2,0,5
22,0,8.0292,0,0,0,1,2,0,2
23,0,35.5000,0,1,0,0,2,0,5
24,3,21.0750,1,0,0,1,1,1,2
25,1,31.3875,5,0,0,1,2,0,3
26,0,7.2250,0,0,0,1,2,0,5
27,3,263.0000,2,1,0,0,2,0,5
28,0,7.8792,0,0,0,1,2,0,2
29,0,7.8958,0,0,0,1,2,0,5
...,...,...,...,...,...,...,...,...,...
861,1,11.5000,0,0,1,0,2,0,5
862,0,25.9292,0,1,0,0,2,0,3
863,8,69.5500,2,0,0,1,2,0,2
864,0,13.0000,0,0,1,0,2,0,5
865,0,13.0000,0,0,1,0,2,0,3
866,1,13.8583,0,0,1,0,2,0,2
867,0,50.4958,0,1,0,0,2,0,5
868,0,9.5000,0,0,0,1,2,0,5
869,1,11.1333,1,0,0,1,1,1,5
870,0,7.8958,0,0,0,1,2,0,5
871,1,52.5542,1,1,0,0,2,0,3
872,0,5.0000,0,1,0,0,2,0,5
873,0,9.0000,0,0,0,1,2,0,5
874,1,24.0000,0,0,1,0,2,0,3
875,0,7.2250,0,0,0,1,2,0,2
876,0,9.8458,0,0,0,1,2,0,5
877,0,7.8958,0,0,0,1,2,0,5
878,0,7.8958,0,0,0,1,2,0,5
879,0,83.1583,1,1,0,0,2,0,3
880,0,26.0000,1,0,1,0,2,0,3
881,0,7.8958,0,0,0,1,2,0,5
882,0,10.5167,0,0,0,1,2,0,2
883,0,10.5000,0,0,1,0,2,0,5
884,0,7.0500,0,0,0,1,2,0,5
885,0,29.1250,5,0,0,1,2,0,3
886,0,13.0000,0,0,1,0,2,0,5
887,0,30.0000,0,1,0,0,2,0,2
888,1,23.4500,2,0,0,1,2,0,2
889,0,30.0000,0,1,0,0,2,0,5
890,0,7.7500,0,0,0,1,2,0,5

In [58]:
model_cols2 =['SibSp', 'Parch', 'Fare', 'Pclass','Sex','Is_Child','Title']
X2, y2 = parse_model(X=train.copy(), use_columns=model_cols2)

In [ ]:
#Ancien Test concernant les Titre, les dummies font beaucoup de features pour assez peu d'intérêt
X_dummies = pd.get_dummies(X['New_Title'], prefix="New_Title", drop_first=False,dummy_na=False)
X = X.join(X_dummies).drop("New_Title", axis=1)
X

In [72]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=42)

Reg_Log = LogisticRegression(random_state=42)
Reg_Log.fit(X_train, y_train)
ypred = Reg_Log.predict(X_test)
print('Score : ',(ypred==y_test).sum()/ypred.size)

Score :  0.8059701492537313

/home/aaron/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [ ]:
train['Surname'] = train['Name'].apply(lambda x : '(' in x)
mask = train['Surname']==True
train.loc[mask, ["Name", "Surname"]]

In [78]:
#RandomForest
from sklearn.ensemble import *
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y, test_size=0.3,random_state=42)
random_forest = RandomForestClassifier(n_estimators=150)
random_forest.fit(X_train2, y_train2)
Y_pred = random_forest.predict(X_test2)
random_forest.score(X_test2, y_test2)
acc_random_forest = round(random_forest.score(X_test2, y_test2) * 100, 2)
acc_random_forest

80.6

In [50]:
X2.columns

Index(['SibSp', 'Parch', 'Fare', 'Pclass', 'Sex', 'Is_Child', 'Title'], dtype='object')

In [76]:
from sklearn.model_selection import GridSearchCV

Estimator = RandomForestClassifier(random_state=42)
parameters = {
    'n_estimators': [100,150,200,250,300],
    'max_depth': np.arange(6,16,2),
    'min_samples_split': np.arange(10,30,5),
    'min_samples_leaf': np.arange(5,20,5)
}

model2 = GridSearchCV

# cross_val_score(estimator=Estimator, X=X_train, y=y_train, cv=5)
gd_sr = GridSearchCV(estimator=Estimator,
                     param_grid=parameters,
                     scoring='accuracy',
                     verbose=1,
                     cv=5,
                     n_jobs=-1)
gd_sr.fit(X_train2, y_train2)

Fitting 5 folds for each of 300 candidates, totalling 1500 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  52 tasks      | elapsed:    1.7s
[Parallel(n_jobs=-1)]: Done 352 tasks      | elapsed:   10.1s
[Parallel(n_jobs=-1)]: Done 852 tasks      | elapsed:   26.4s
[Parallel(n_jobs=-1)]: Done 1500 out of 1500 | elapsed:   49.2s finished

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators='warn', n_jobs=None,
                                              oob_score=False, random_state=42,
                                              verbose=0, warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'max_depth': array([ 6,  8, 10, 12, 14]),
                         'min_samples_leaf': array([ 5, 10, 15]),
                         'min_samples_split': array([10, 15, 20, 25]),
                         'n_estimators': [100, 150, 200, 250, 300]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=1)

In [77]:
gd_sr.best_params_

{'max_depth': 6,
 'min_samples_leaf': 5,
 'min_samples_split': 15,
 'n_estimators': 150}

In [54]:
random_forest = RandomForestClassifier(max_depth=6,min_samples_leaf=5, min_samples_split=15,n_estimators=150)
random_forest.fit(X_train2, y_train2)
Y_pred = random_forest.predict(X_test2)
random_forest.score(X_test2, y_test2)
acc_random_forest = round(random_forest.score(X_test2, y_test2) * 100, 2)
acc_random_forest

80.97

### Etude des variables

Il existe plusieurs méthodes pour qualifier l'importance des variables dans une modélisation.
- les tests statistiques permettent de qualifier unitairement chaque variable
- le test du khi2 permet par exemple de verifier la dépendance entre chaque variable et la variable cible.
- Cela nécessite d'interpréter des p-values
- Voici une alternative simple pour qualifier l'impotance des variables dans le cas d'une modélisation.

In [ ]:
import matplotlib.pyplot as plt
from matplotlib import style
style.use('fivethirtyeight')
%matplotlib inline
%pylab inline


def plot_hist(feature, bins=20):
    x1 = np.array(dead[feature].dropna())
    x2 = np.array(survived[feature].dropna())
    plt.hist([x1, x2], label=["Victime", "Survivant"], bins=bins, color=['r', 'b'])
    plt.legend(loc="upper left")
    plt.title('distribution relative de %s' %feature)
    plt.show()

- Une majorité de victimes provient de la classe 3
- A contrario les survivants proviennent plutot de la classe 1
- Dans la classe 2 c'est plus difficile à discriminer
Il faut donc l'intégrer dans le modèle

In [ ]:
from sklearn import preprocessing

def dummify_features(df):
    """
    Transform categorical variables to dummy variables.

    Parameters
    ----------
    df: dataframe containing only categorical features

    Returns
    -------
    X: new dataframe with dummified features
       Each column name becomes the previous one + the modality of the feature

    enc: the OneHotEncoder that produced X (it's used later in the processing chain)
    """
    colnames = df.columns
    le_dict = {}
    for col in colnames:
        le_dict[col] = preprocessing.LabelEncoder()
        le_dict[col].fit(df[col])
        df.loc[:, col] = le_dict[col].transform(df[col])

    enc = preprocessing.OneHotEncoder()
    enc.fit(df)
    X = enc.transform(df)

    dummy_colnames = [cv + '_' + str(modality) for cv in colnames for modality in le_dict[cv].classes_]
    # for cv in colnames:
    #     for modality in le_dict[cv].classes_:
    #         dummy_colnames.append(cv + '_' + modality)

    return X, dummy_colnames, enc
to_dummify = ["Pclass"]
X_dummy, dummy_columns, dummy_encoder = dummify_features(train[to_dummify])
X_dummy = pd.DataFrame(X_dummy.toarray(), columns=dummy_columns)

- Faire l'inventaire des variables dans le jeu de donnée
- quelles sont les variables avec des valeurs manquantes?
- quelles sont les variables quantitatives, qualitatives?
- remplacer les valeurs manquantes dans les variables quantitatives par la mediane de la variable et les variables qualitatives par le vote majoritaire.
- quelle est la proportion des survivants, des decedés?

- Ajuster un premier modèle de regression logistique sur les données
    - On découpera les observations en train test pour valider les performance du modèle
    - analyser les performances du modèle a travers l'evaluation precision rappel etc...
    - rajouter les variables au fur et à mesure et mesurer l'impact des nouvelles varialbes sur les performances du modèle

In [ ]:
- Faire la meme chose avec un modele ensembliste